<h1>Update Settings</h1>

<%= form_with model: Current.user, url: edit_setting_path do |form|%>
    <% if form.object.errors.any? %>
        <div class="alert alert-danger">
            <% form.object.errors.full_messages.each do |message| %>
                <div><%= message %></div>
            <% end %>
        </div>
    <% end %>


    <div class="mb-3">
        <%= form.label :password %>
        <%= form.password_field :password, class: "form-control", placeholder: "password" %>
    </div>

    <div class="mb-3">
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, class: "form-control", placeholder: "password" %>
    </div>
    
    <div class="mb-3">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control", placeholder: "Child's name, for example: Alex"%>
    </div>
    <div class="mb-3">
            <%= form.label :games_per_day %>
        <%= form.text_field :games_per_day, class: "form-control", placeholder: "1-3" %>
    </div>

    <div class="mb-3">
    <%= form.submit "Update Settings", class: "btn btn-primary" %>
    </div>

<% end %>